@use 'base' as *;
@use 'components' as *;
@use 'layouts' as *;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	scroll-behavior: smooth;
	scroll-padding-top: 7.6rem;
	font-size: 62.5%;
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 7.2rem;
	}
}