.gallery-item {
  @apply mb-[4.3rem] cursor-zoom-in;
}

.gallery-ctn {
	@apply max-h-[150rem];
}

.gallery-ctn::before {
  @apply content-[''] absolute bottom-0 w-full h-[1000px] z-20;
  background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}

.gallery-active {
  @apply max-h-max;
}

.gallery-active::before {
  @apply hidden;
}

.pop-up {
  @apply opacity-0 hidden fixed h-screen w-full z-[100] justify-center items-center p-[1.5rem];
  background-color: rgba(0, 0, 0, 0.586);
  &_img {
    @apply relative min-w-[90%] h-[70vh] bg-center bg-cover;
    .mark {
      @apply absolute right-4 top-4 text-[2rem] border-none w-[3rem] h-[3rem] text-white bg-[#000000b9] flex justify-center items-center cursor-pointer rounded-custom-28;
    }
    .next {
      @apply right-0 rounded-s-custom-28;
    }
    .prev {
      @apply  left-0 rounded-e-custom-28;
    }
  }
  .button {
    @apply absolute bottom-1/2 translate-y-1/2 h-24 w-12 text-2xl
	md:h-28 md:w-16 md:text-3xl lg:h-48 lg:w-24 lg:text-4xl bg-black/50;
  }
}

.show-pop-up {
  @apply flex;
  animation: showPopUp 0.3s forwards;
}
.close-animation {
  @apply opacity-100;
  animation: rev 0.3s forwards;
}

@keyframes rev {
  to {
    opacity: 0;
  }
}
@keyframes showPopUp {
  to {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .pop-up {
    .pop-up_img {
      @apply min-w-[80%] h-[90vh];
    }
  }
}
